<div class='tc-modal'>
  <div class='tc-modal-window'>
    <div class='tc-modal-header'>
      <h3>
        {{i18n 'changeTopic'}}
      </h3>
      <a class='tc-modal-close'></a>
    </div>
    <div class='tc-modal-body'>
      <div class='tc-ctl-lcat-proj-content'>
        <div class='tc-ctl-lcat-proj-subtitle'>
          {{i18n 'projSubtitle'}}
        </div>
        <ul class='tc-ctl-lcat-proj-childs'>
          {{#each catalogs}}
            <li class='tc-ctl-lcat-proj-catalog'>
              <input
                type='hidden'
                class='tc-ctl-lcat-proj-catalog-id'
                value='{{id}}'
              />
              <label class='tc-ctl-proj-catalog-title' for='catalog-{{id}}'>
                {{catalog}}
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class='tc-ctl-lcat-proj-buttons'>
        <button class='tc-button tc-ctl-lcat-proj-accept'>
          {{i18n 'ok'}}
        </button>
      </div>
    </div>
  </div>
</div>