<h2>
    {{i18n "availableLayers" }}
    {{#if enableSearch}}
    {{#if layerTrees}}
    <button class="tc-ctl-lcat-btn-search" title="{{i18n "searchLayersByText"}}"></button>
    <label id="canvi-projecte-silme" class="tc-ctl-lcat-btn-search-silme" title="{{i18n "changeTopicOrganization"}}">{{i18n "changeTopic"}}</label>
    {{/if}}
    {{#if layers}}
    <button class="tc-ctl-lcat-btn-search" title="{{i18n "searchLayersByText"}}"></button>
    {{#if enableChangeTopic}}
    <label id="canvi-projecte-silme" class="tc-ctl-lcat-btn-search-silme" title="{{i18n "changeTopicOrganization"}}">{{i18n "changeTopic"}}</label>
    {{/if}}
    {{/if}}
    {{/if}}
</h2>


<div class="tc-ctl-lcat-search tc-hidden tc-collapsed">
    <div class="tc-group">
        <input type="search" class="tc-ctl-lcat-input tc-textbox" placeholder="{{i18n "textToSearchInLayers"}}">
    </div>
    <ul></ul>

</div>

<div class="tc-ctl-lcat-tree" id="arbol">
    {{#if layerTrees}}
    <ul class="tc-ctl-lcat-branch">
        {{#each layerTrees}}
        {{> tc-ctl-lcat-branch}}
        {{/each}}
    </ul>
    {{else}}
    {{#if layers}}
    <ul class="tc-ctl-lcat-branch">
        {{#each layers}}
        <li data-layer-id="{{id}}" title="{{i18n "loadingLayers"}}" class="tc-ctl-lcat-loading-node"> {{title}}</li>
        {{/each}}
    </ul>
    {{else}}
    <div class="tc-ctl tc-ctl-lcat-loading">
        <span>{{i18n "loadingLayerTree"}}...</span>
    </div>
    {{/if}}
    {{/if}}
</div>
<div class="tc-ctl-lcat-info tc-hidden">
    {{> tc-ctl-lcat-info}}
</div>
<div id="projects" class="tc-ctl-lcat-proj tc-hidden">
    {{> tc-ctl-lcat-proj}}
</div>
